<div class='card-container'>
  <div class='card-type-container'>
    <h4>creatures (<%= deck.cards_by_type('Creature').count %>):</h4>
    <ul class='card-list'>
    <% deck.cards_by_type('Creature').each do |card| %>
      <li class='card-name'><a href="/cards/<%= card.id %>"><%= card.name %></a></li>
    <% end %>
    </ul>
    <h4>sorceries (<%= deck.cards_by_type('Sorcery').count %>):</h4>
    <ul class='card-list'>
    <% deck.cards_by_type('Sorcery').each do |card| %>
      <li class='card-name'><a href="/cards/<%= card.id %>"><%= card.name %></a></li>
    <% end %>
    </ul>
    <h4>instants (<%= deck.cards_by_type('Instant').count %>):</h4>
    <ul class='card-list'>
    <% deck.cards_by_type('Instant').each do |card| %>
      <li class='card-name'><a href="/cards/<%= card.id %>"><%= card.name %></a></li>
    <% end %>
    </ul>
    <h4>artifacts (<%= deck.cards_by_type('Artifact').count %>):</h4>
    <ul class='card-list'>
    <% deck.cards_by_type('Artifact').each do |card| %>
      <li class='card-name'><a href="/cards/<%= card.id %>"><%= card.name %></a></li>
    <% end %>
    </ul>
    <h4>enchantments (<%= deck.cards_by_type('Enchantment').count %>):</h4>
    <ul class='card-list'>
    <% deck.cards_by_type('Enchantment').each do |card| %>
      <li class='card-name'><a href="/cards/<%= card.id %>"><%= card.name %></a></li>
    <% end %>
    </ul>
    <h4>lands (<%= deck.cards_by_type('Land').count %>):</h4>
    <ul class='card-list'>
    <% deck.cards_by_type('Land').each do |card| %>
      <li class='card-name'><a href="/cards/<%= card.id %>"><%= card.name %></a></li>
    <% end %>
    </ul>
  </div>
</div>
