<div class='show-deck-container'>
  <h3 id='show-deck-name'><%= @deck.name %></h3>
  <p id='show-deck-description'>description: <%= html_escaper @deck.description %></p>
  <div id='show-decks-cards-container'>
    <h4>cards:</h4>
    <%= erb :'cards/list', locals: { deck: @deck } %>
  </div>

  <form class='edit-deck-button' method="GET" action="/decks/<%= @deck.id %>/edit">
    <input type="submit" value="edit">
  </form>
  <form class='delete-deck-button' method="POST" action="/decks/<%= @deck.id %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete">
  </form>
</div>
